@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:400,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
}
body{
      font-family: "Open Sans", sans-serif;
      background: #f9f9f9;
      color: black;
/* background: -webkit-linear-gradient(180deg, rgb(12, 13, 12), rgb(44, 44, 44));
background: linear-gradient(180deg, rgb(12, 13, 12), rgb(44, 44, 44)); */
overflow-x: hidden; /* Não deixa a página rolar pro lado */
}


/* Barra de Menu */
nav a img{
  margin-bottom: 17px;
}
header{
  color: black;
  border: transparent 2px solid;
  background: rgba(234,233,234,1);
  background: -moz-linear-gradient(top, rgba(234,233,234,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,233,234,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(234,233,234,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(234,233,234,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(234,233,234,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(234,233,234,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae9ea', endColorstr='#ffffff', GradientType=0 );
}

/* Imagem da barra de menu */
a img {
    width: 200px;
    height: 80px;
}
a img:hover{
    transition: .2s ease;
    opacity: 0.9;
}
a img:active{
    opacity: 0.5;
}
h1{
  font-family: "Montserrat", sans-serif;
  color: #293651;
  font-weight: 700rem;

}

/* Opções do Header */
.header-logo-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.header-option{
    margin-left: 10rem;
}
.header-option a{
    margin: 30px;
    text-decoration: none;
    font-family: 'Inter';
}
.header-option a:hover{
    bottom: 5px;
    transition: .2s ease;
    opacity: 0.8;
    text-decoration: overline;
    font-family: 'Inter';
}
.header-option a:active{
    opacity: 0.5;
}

/* Menu hamburguer */
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin-left: 10rem;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .nav-list li a{
    margin: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Inter';
  }
  .nav-list li a:hover{
    bottom: 5px;
    transition: .2s ease;
    opacity: 0.8;
    color: black;
    text-decoration: overline;
    font-family: 'Inter';
  }
  .nav-list li a:active{
    opacity: 0.5;
}
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    a img{
      margin: 0px 0px 0px -50px;
    }
    .nav-list {
      position: absolute;
      top: 20vh;
      right: 0;
      width: 100vw;
      height: 30px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      transition: transform 0.5s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  /* responsive mode */
    @media (max-width: 400px) {
        .nav-list {
            margin-bottom: 40px;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
  /* Fim do menu Hamburguer */

 /* Bottom Whatsapp */
.fa-whatsapp{
    font-size: 40px;
    color: #fff;
}
.whatsapp:hover{
    transition: .2s ease;
}
@keyframes whatsapp {
    0% {
        transform: scale(.5)
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

.whatsapp:hover {
    background: #41a79d
}

.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 70px;
    padding: 5px;
    right: 0;
    text-align: center;
    border-radius: 50%;
    background: #0ba360;
    z-index: 1000;
    z-index: 2000;
}

.whatsapp::after,
.whatsapp::before {
    content: '';
    position: absolute;
    opacity: 0;
    border: 4px solid #0ba360;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: whatsapp 1.5s ease infinite
}

.wa::after {
    animation-delay: .5s
}
@media (max-width: 999px) and (min-width: 678px) {
    .whatsapp{
        bottom: 15rem;
    }
}
 /* Bottom Whatsapp end*/

 /* Carousel */
 
 
.carousel-item{
  height: 20rem;
}
.carousel-item img{
  height: 100%;
}

/* .carousel{
    margin-top: 5rem;
}
.carousel-inner{
    width: 80%;
}
.carousel-item {
    width: 80%;
    height: 100%;
    margin: auto;
}
.images-carousel{
    margin: 0 auto;
    max-width: 98%; 
    max-height: 600px;
    position: relative;
}

@media (max-width: 999px) and (min-width: 780px) {
  .images-carousel{
    margin-top: 10rem;
    position: relative;
  }
} */
img{
  image-rendering: optimizeQuality;
}

/* End Carousel */

/* Reformas */
.row{
  justify-content: center;
}
.cards{
  width: 20rem !important;
  margin: 10px;
}
@media (max-width: 999px){
  .cards{
    width: 80% !important;
    margin: 30px !important;
  }
  .card-img-top{
    width: 70% !important;
  }
}
.fa-duotone .fa-loveseat{
  color: black;
  background-color: black;
  width: 100px;
}
/* CARD REFORMAS ICON */
.cards-cardboy_cardicon{
  display: flex;
  align-items: center;
}
.cards-cardboy_cardicon span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(73, 73, 73, 0.563);
  width: 50px;
  padding: 8px;
  border-radius: 3px;
}
.fa-couch{
  display: flex;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}
.card-title{
  color: #293651;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.card-text{
  font-family: "Open Sans", sans-serif;
  color: #99a0b0;
}
/* END CARD REFORMA ICON */
.single_service {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff; 
}
.single_service:hover img{
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

  .single_service:hover {
/*     -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9); */
    transform: scale(1.05);
    transition: 0.5s ease-in-out !important;
    background: linear-gradient(to bottom, rgba(73, 73, 73, 0.563) 0%, rgba(255,255,255,1) 100%);
    cursor: pointer;
  }
  .cards:hover{
    transition: 0.5s ease-in-out;
  }
  .cards:hover > .card-body .cards-cardboy_cardicon .card-title{
    transition: 0.5s ease-in-out;
    opacity: 0.7;
  }
  .cards:hover > .card-body .cards-cardboy_cardicon span{
    transition: 0.5s ease-in-out;
    opacity: 0.7;
  }
  .cards:hover > .card-body  .card-text{
    color: rgba(73, 73, 73, 0.563);
}

    

/* NEW */
.containerr{
    margin-top: 5rem;
    width: 100%;
}

.container-title{
  margin-left: 20px;
    color: black;
    font-family: 'kameron';
    font-weight: bold;
}
.container-title:nth-child(3){
  margin-top: 5rem;
}
.container-title hr{
    width: 5rem;
    height: 5px; 
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px;
    margin-top: -6px;
    margin-left: 100px;
}
@media (max-width: 999px) {
  .container-title hr{
    margin-left: 50px;

  }
}


.container-fotos-sofas {
  display: flex;
  flex-direction: column;
}

.container-fotos img{
  width: 250px;
  height: 250px;
  margin: 40px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container-fotos:nth-child(3) img{
  display: flex;
}
.container-fotos img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  display: flex;
  justify-content: center;
  align-items: center;
}



.container-fotos-sofas_subtitle{
  display: flex;
  font-size: 1.6rem;
  justify-content:center;
  font-family: 'kameron';
  font-weight: 500;
  color: black;
  margin-top: -85px;
  text-decoration: underline;
}
.container-fotos-list1, .container-fotos-list2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-reformas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
}


@media (max-width: 900px) and (min-width: 750px) {
  .container-fotos img{
    width: 200px;
    height: 150px;
    margin: 0px 10px 40px 10px;
  }
}

@media (max-width: 750px){
  .container-fotos img:hover{
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  .container-fotos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-fotos img{
    width: 200px;
    height: 150px;
    margin: 0px 3px 40px 3px;
  }
  .container-fotos-sofas_subtitle{
    font-size: 18px;
    margin-top: -70px;
    align-items: center;
    justify-content: center;
  }
  .container-reformas{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-fotos-list2{
    margin-top: 50px;
  }
}
/* Reds Sociais */

.redes-sociais{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.redes-sociais a{
  margin-right: 10px;
  background: #08080816;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.redes-sociais a:hover{
  transition: .2s ease;
  opacity: .8;
  color: #ffffff83;
}
.redes-sociais a:nth-child(2){
  background: #41a79d;
}
.redes-sociais a:nth-child(1){
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.redes-sociais a:nth-child(3){
  background: 	#4267B2;
  width: 43px;
}
.redes-sociais a:nth-child(4){
  background: #f09433;
}

/* Footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  color: black;
  font-family: 'inter';
}

footer .logo-footer a img{
  border-radius:10px;
  width: 20rem;
  height: auto;
}
.copyright{
  color: black;
  text-align: center;
}
.copyright p{
  font-size: 12px;
}
.copyright a{
  color: rgba(0, 0, 0, 0.355);
  transition: color 0.3s ease;
}
.copyright a:hover{
  color: black;
}

@media (max-width: 999px){
Footer{
  display: flex;
  flex-direction: column; 
}
.logo-footer{
  margin-top: 2rem;
}
.logo-footer img{
  width: 300px;
}
Footer .informations{
  width: 100vw;
}
Footer .informations li{
  margin-top: -4px;
}
Footer span {
  font-size: 15px;
}
}